{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}E-Commerce{% endblock %}</title>

    {% tailwind_css %}
</head>

<body class="bg-gray-50 text-gray-900">

<nav class="bg-white shadow mb-6">
  <div class="max-w-7xl mx-auto px-4 py-4 flex justify-between">
    <div class="font-bold text-lg">Multi-Vendor</div>

    <div class="space-x-4">
      <a href="{% url 'admin:index' %}">Admin</a>
      {% if request.user.is_authenticated %}
        <a href="{% url 'users:profile' %}">Profile</a>
        <a href="{% url 'users:logout' %}">Logout</a>
      {% else %}
        <a href="{% url 'users:login' %}">Login</a>
        <a href="{% url 'users:register' %}">Register</a>
      {% endif %}
    </div>
  </div>
</nav>

<main class="max-w-7xl mx-auto px-4 ">
  {% if messages %}
    {% for message in messages %}
      <div class="mb-4 p-3 bg-green-100 border border-green-300 rounded">
        {{ message }}
      </div>
    {% endfor %}
  {% endif %}

  {% block content %}{% endblock %}
</main>

</body>
</html>