{% extends "base.html" %}

{% block title %}Profile{% endblock %}

{% block content %}
  <h1 class="text-3xl font-bold mb-6">Profile</h1>

  <div class="bg-white shadow rounded-xl p-6 space-y-3">
      <p><strong>Username:</strong> {{ request.user.username }}</p>
      <p><strong>Email:</strong> {{ request.user.email }}</p>
      <p><strong>Role:</strong> {{ request.user.role }}</p>
  </div>

  <div class="mt-6 space-y-2">

    <a href="{% url 'users:address_list' %}"
       class="block px-4 py-2 bg-blue-600 text-white rounded hover:bg-blue-700">
       My addresses
    </a>

    {% if request.user.role == "seller" %}
        {% if not request.user.shop %}
            <a href="{% url 'shops:create' %}"
               class="block px-4 py-2 bg-green-600 text-white rounded hover:bg-green-700">
               Create shop
            </a>
         {% endif %}

        <a href="{% url 'catalog:seller_product_list' %}"
           class="block px-4 py-2 bg-purple-600 text-white rounded hover:bg-purple-700">
           Manage products
        </a>

        <a href="{% url 'orders:seller_item_list' %}"
           class="block px-4 py-2 bg-purple-600 text-white rounded hover:bg-purple-700">
           Manage seller orders
        </a>
    {% endif %}


    <a href="{% url 'users:logout' %}"
       class="block px-4 py-2 bg-red-600 text-white rounded hover:bg-red-700">
       Logout
    </a>

  </div>
{% endblock %}